<a href="https://colab.research.google.com/github/vasileiosalevizos/socialhackathon/blob/main/notebook/notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!ls /content/drive/MyDrive/ecoVote_paper/dataset

FOW_TVOL_AGE_VOL_NB_A_EN.xlsx
FOW_TVOL_AGE_VOL_RT_A_EN.xlsx
FOW_TVOL_SEX_VOL_NB_A_EN.xlsx
FOW_TVOL_SEX_VOL_RT_A_EN.xlsx
oikonomikaenergoskaimhenergosplhthysmoskatafylokaiomadeshlikiwn19912001.xls
report_oaed_unemployment_2019-01-01_2020-10-01.csv
volunteer-opportunities-and-finding-organizations-1.csv
wdfg23-convol-201105-1.csv

In [ ]:
import pandas as pd

# Read .xlsx files
fow_tvol_age_vol_nb_a_en = pd.read_excel("/content/drive/MyDrive/ecoVote_paper/dataset/FOW_TVOL_AGE_VOL_NB_A_EN.xlsx")
fow_tvol_age_vol_rt_a_en = pd.read_excel("/content/drive/MyDrive/ecoVote_paper/dataset/FOW_TVOL_AGE_VOL_RT_A_EN.xlsx")
fow_tvol_sex_vol_nb_a_en = pd.read_excel("/content/drive/MyDrive/ecoVote_paper/dataset/FOW_TVOL_SEX_VOL_NB_A_EN.xlsx")
fow_tvol_sex_vol_rt_a_en = pd.read_excel("/content/drive/MyDrive/ecoVote_paper/dataset/FOW_TVOL_SEX_VOL_RT_A_EN.xlsx")

# Read .xls file
oikonomikaenergoskaimhenergosplhthysmoskatafylokaiomadeshlikiwn19912001 = pd.read_excel("/content/drive/MyDrive/ecoVote_paper/dataset/oikonomikaenergoskaimhenergosplhthysmoskatafylokaiomadeshlikiwn19912001.xls")

# Read .csv files
report_oaed_unemployment = pd.read_csv("/content/drive/MyDrive/ecoVote_paper/dataset/report_oaed_unemployment_2019-01-01_2020-10-01.csv")
volunteer_opportunities = pd.read_csv("/content/drive/MyDrive/ecoVote_paper/dataset/volunteer-opportunities-and-finding-organizations-1.csv")
wdfg23_convol = pd.read_csv("/content/drive/MyDrive/ecoVote_paper/dataset/wdfg23-convol-201105-1.csv")

In [ ]:
print("FOW_TVOL_AGE_VOL_NB_A_EN:")
print(fow_tvol_age_vol_nb_a_en.head())

FOW_TVOL_AGE_VOL_NB_A_EN:
  Number of volunteers by age and type of volunteer work (thousands)  \
0  With the aim of promoting international compar...
1  Downloaded from ILOSTAT. Last update on 15/09/...
2                                                NaN
3                                                NaN
4                                     Reference area

  Unnamed: 1 Unnamed: 2 Unnamed: 3                  Unnamed: 4  \
0        NaN        NaN        NaN                         NaN
1        NaN        NaN        NaN                         NaN
2        NaN        NaN        NaN                         NaN
3        NaN        NaN        NaN  Volunteer work (thousands)
4     Source        Age       Time                       Total

           Unnamed: 5 Unnamed: 6 Unnamed: 7
0                 NaN        NaN        NaN
1                 NaN        NaN        NaN
2                 NaN        NaN        NaN
3                 NaN        NaN        NaN
4  Organization-based     Direct        NaN

In [ ]:
print("FOW_TVOL_AGE_VOL_NB_A_EN:")
print(fow_tvol_age_vol_nb_a_en.tail())

FOW_TVOL_AGE_VOL_NB_A_EN:
    Number of volunteers by age and type of volunteer work (thousands)  \
420                                      United States
421                                      United States
422                                      United States
423                                      United States
424                                      United States

                          Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4  \
420  LFS - Current Population Survey        65+       2017        NaN
421  LFS - Current Population Survey      Total       2019        NaN
422  LFS - Current Population Survey      15-24       2019        NaN
423  LFS - Current Population Survey      25-64       2019        NaN
424  LFS - Current Population Survey        65+       2019        NaN

    Unnamed: 5 Unnamed: 6                                         Unnamed: 7
420   13975.36        NaN  Notes\n\nVolunteer work (thousands) \n-Referen...
421   77949.99        NaN  Notes\n\nVolunteer work (thousands) \n-Referen...
422  10102.797        NaN  Notes\n\nVolunteer work (thousands) \n-Referen...
423  52685.539        NaN  Notes\n\nVolunteer work (thousands) \n-Referen...
424   15161.65        NaN  Notes\n\nVolunteer work (thousands) \n-Referen...

In [ ]:
print("FOW_TVOL_AGE_VOL_NB_A_EN shape:", fow_tvol_age_vol_nb_a_en.shape)

FOW_TVOL_AGE_VOL_NB_A_EN shape: (425, 8)

In [ ]:
print("FOW_TVOL_AGE_VOL_NB_A_EN statistics:")
print(fow_tvol_age_vol_nb_a_en.describe())

FOW_TVOL_AGE_VOL_NB_A_EN statistics:
       Number of volunteers by age and type of volunteer work (thousands)  \
count                                                 423
unique                                                 50
top                                              Colombia
freq                                                   40

                                               Unnamed: 1 Unnamed: 2  \
count                                                 421        421
unique                                                 21          5
top     HIES - EU Statistics on Income and Living Cond...      Total
freq                                                  124        105

        Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6  \
count          421       250.0       273.0       249.0
unique          13       246.0       267.0       245.0
top           2015      7841.5     19210.9      6940.8
freq           140         2.0         2.0         2.0

                                               Unnamed: 7
count                                                 420
unique                                                 14
top     Notes\n\nVolunteer work (thousands) \n-Referen...
freq                                                  156

In [ ]:
print("FOW_TVOL_AGE_VOL_NB_A_EN missing values:")
print(fow_tvol_age_vol_nb_a_en.isnull().sum())

FOW_TVOL_AGE_VOL_NB_A_EN missing values:
Number of volunteers by age and type of volunteer work (thousands)      2
Unnamed: 1                                                              4
Unnamed: 2                                                              4
Unnamed: 3                                                              4
Unnamed: 4                                                            175
Unnamed: 5                                                            152
Unnamed: 6                                                            176
Unnamed: 7                                                              5
dtype: int64

In [ ]:
print("FOW_TVOL_AGE_VOL_NB_A_EN data:")
fow_tvol_age_vol_nb_a_en.head()

FOW_TVOL_AGE_VOL_NB_A_EN data:

,Number of volunteers by age and type of volunteer work (thousands),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,With the aim of promoting international compar...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Downloaded from ILOSTAT. Last update on 15/09/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,Volunteer work (thousands),NaN,NaN,NaN
4,Reference area,Source,Age,Time,Total,Organization-based,Direct,NaN

In [ ]:
print("volunteer_opportunities data: ")
volunteer_opportunities.head()

volunteer_opportunities data:

,Requirements,opportunity_id,content_id:,Summary,Category Description,Title,display_url,Recurrence_type,Street Address,2nd Address,...,Website,Borough,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,<p>Volunteers must be 18 years of age or older...,Adult Education and Job Readiness Projects wit...,<p>Planning for a better future starts by beli...,Planning for a better future starts by believi...,NaN,New York Cares,/opportunities/69,ongoing,"65 Broadway, 19th Floor",NaN,...,http://www.newyorkcares.org,MANHATTAN,40.707113,-74.012234,101.0,1.0,13.0,1000809.0,1.000210e+09,Battery Park City-Lower Manhattan
1,<p>There will be one day of required volunteer...,Arts and Crafts Volunteers,<p>Arts and Crafts volunteers are needed to as...,Arts and Crafts volunteers are needed to assis...,Communities and Neighbors,Project HAPPY,/opportunities/103,ongoing,425 East 25th Street,NaN,...,http://www.project-happy.org,MANHATTAN,40.737878,-73.976880,106.0,4.0,62.0,1069579.0,1.009620e+09,Murray Hill-Kips Bay
2,<p>Previous experience working in an administr...,After-School Program Coordinator,<p>• Provides oral and written reports to the ...,Assist Executive Director in managing after-sc...,Education,Rise Up & Walk Youth Outreach Center Inc,/opportunities/163,ongoing,432 Monroe Street,NaN,...,http://www.riseupnwalk.org,BROOKLYN,40.686592,-73.940747,303.0,36.0,277.0,3051540.0,3.018210e+09,Stuyvesant Heights
3,<p>Volunteers must be 18 years of age or older...,Adults and Children with Special Needs Project...,<p>New York Cares offers many programs serving...,New York Cares offers many programs serving ad...,NaN,New York Cares,/opportunities/206,ongoing,"65 Broadway, 19th Floor",NaN,...,http://www.newyorkcares.org,MANHATTAN,40.707113,-74.012234,101.0,1.0,13.0,1000809.0,1.000210e+09,Battery Park City-Lower Manhattan
4,<p>Volunteers must be 18 years of age or older...,Animal Care Projects with New York Cares,<p>Socialize with rescued animals and help the...,Socialize with rescued animals and help them g...,NaN,New York Cares,/opportunities/207,ongoing,"65 Broadway, 19th Floor",NaN,...,http://www.newyorkcares.org,MANHATTAN,40.707113,-74.012234,101.0,1.0,13.0,1000809.0,1.000210e+09,Battery Park City-Lower Manhattan

In [ ]:
import pandas as pd
from lxml import html

def remove_html_elements(text):
    if isinstance(text, str):
        tree = html.fromstring(text)
        return tree.text_content()
    return text

volunteer_opportunities['Requirements'] = volunteer_opportunities['Requirements'].apply(remove_html_elements)

print(volunteer_opportunities.head())

                                        Requirements  \
0       Volunteers must be 18 years of age or older.
1  There will be one day of required volunteer tr...
2  Previous experience working in an administrati...
3       Volunteers must be 18 years of age or older.
4       Volunteers must be 18 years of age or older.

                                      opportunity_id  \
0  Adult Education and Job Readiness Projects wit...
1                         Arts and Crafts Volunteers
2                   After-School Program Coordinator
3  Adults and Children with Special Needs Project...
4           Animal Care Projects with New York Cares

                                         content_id:  \
0  <p>Planning for a better future starts by beli...
1  <p>Arts and Crafts volunteers are needed to as...
2  <p>• Provides oral and written reports to the ...
3  <p>New York Cares offers many programs serving...
4  <p>Socialize with rescued animals and help the...

                                             Summary  \
0  Planning for a better future starts by believi...
1  Arts and Crafts volunteers are needed to assis...
2  Assist Executive Director in managing after-sc...
3  New York Cares offers many programs serving ad...
4  Socialize with rescued animals and help them g...

        Category Description                                     Title  \
0                        NaN                            New York Cares
1  Communities and Neighbors                             Project HAPPY
2                  Education  Rise Up & Walk Youth Outreach Center Inc
3                        NaN                            New York Cares
4                        NaN                            New York Cares

          display_url Recurrence_type           Street Address 2nd Address  \
0   /opportunities/69         ongoing  65 Broadway, 19th Floor         NaN
1  /opportunities/103         ongoing     425 East 25th Street         NaN
2  /opportunities/163         ongoing        432 Monroe Street         NaN
3  /opportunities/206         ongoing  65 Broadway, 19th Floor         NaN
4  /opportunities/207         ongoing  65 Broadway, 19th Floor         NaN

   ...                       Website    Borough   Latitude  Longitude  \
0  ...   http://www.newyorkcares.org  MANHATTAN  40.707113 -74.012234
1  ...  http://www.project-happy.org  MANHATTAN  40.737878 -73.976880
2  ...    http://www.riseupnwalk.org   BROOKLYN  40.686592 -73.940747
3  ...   http://www.newyorkcares.org  MANHATTAN  40.707113 -74.012234
4  ...   http://www.newyorkcares.org  MANHATTAN  40.707113 -74.012234

  Community Board Council District  Census Tract        BIN           BBL  \
0           101.0              1.0          13.0  1000809.0  1.000210e+09
1           106.0              4.0          62.0  1069579.0  1.009620e+09
2           303.0             36.0         277.0  3051540.0  3.018210e+09
3           101.0              1.0          13.0  1000809.0  1.000210e+09
4           101.0              1.0          13.0  1000809.0  1.000210e+09

                                 NTA
0  Battery Park City-Lower Manhattan
1               Murray Hill-Kips Bay
2                 Stuyvesant Heights
3  Battery Park City-Lower Manhattan
4  Battery Park City-Lower Manhattan

[5 rows x 24 columns]